.main-principal p{
    line-height: 2.5em;
    text-align: justify;
}
.header-principal .posicion-redes{
  position: absolute;
    top:20px;
    right: 90px;
    margin: 5px;

}
.etiqueta-redes{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 25px;
    
}
body{
    background-color: #0C96F9;
}

.listado-redes .fa {
    margin-left: 15px;
    padding: 3px;
    color: aliceblue;
    text-decoration: none;
    font-size: 25px;
}
.fa:hover{
    color: #0C96F9;
}